body {
    background-image: url(../img/OIP.jfif);
  }

  h2 {
    color: #ff0000
    text-align: center;
  }
    
  h1 {
    color: #e0e0e0
    text-align: center; }




img{width: 20%;}
figure{
    text-align: center;
}


.container{
    margin: auto;
    width: 80%;
    text-align: center; 
    font-family: 'Kalam', cursiva;
}

div {
    background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
  }
  