
body {
    background-image: url(../img/222.jfif);
  }

  h2 {
    color: #ff0000
     text_aling: center}
    
  h1 {
    color: #e0e0e0
    text_align: center}



p {color: blue;}




h1 {color: #ff0000;}


img{width: 20%;}
figure{
    text-align: center;
}


.container{
    margin: auto;
    width: 80%;
    text-align: center; 
    font-family: 'Kalam', cursiva;
}

div {
    background: rgba(88, 132, 253, 0.3) /* Green background with 30% opacity */
  }
  

 /* The animation code */
@keyframes example {
  0%   {background-color:rgba(255, 0, 0, 0.363); left:0px; top:0px;}
  25%  {background-color:rgba(255, 255, 0, 0.466); left:200px; top:0px;}
  50%  {background-color:rgba(0, 0, 255, 0.342); left:200px; top:200px;}
  75%  {background-color:rgba(0, 214, 0, 0.404); left:0px; top:200px;}
  100% {background-color:rgba(255, 0, 0, 0.301); left:0px; top:0px;}
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: rgba(0, 255, 13, 0.411);
  animation-name: example;
  animation-duration: 4s;
}

